.app.dark {
    --bg-color: #040443;
    --inverted-bg-color: #d9dbd9;

    --primary-color: #0f700f; 
    --secondary-color: #0ef60e;
    --inverted-primary-color: #1908b4;
    --inverted-secondary-color: #3870c5;
}