.app_dark_theme {
    --bg-color: #040443;
    --inverted-bg-color: #d9dbd9;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #1908b4;
    --inverted-secondary-color: #3870c5;
}
